@*
    Page index du contrôlleur Membre
    Affiche la liste des membres
*@
@model List<Membre>
<h1>Index: Liste des membres</h1>
<div class="my-3">
    <a asp-action="Create" class="btn btn-primary">Créer un nouveau membre</a>
</div>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Date de naissance</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membre in Model)
        {
            <tr>
                <td>@membre.UserId</td>
                <td>@membre.Nom</td>
                <td>@membre.Prenom</td>
                <td>@membre.Email</td>
                <td>@membre.DateNaissance.ToShortDateString()</td>
                <td>
                    <a asp-action="Update" asp-route-username="@membre.Username" class="btn btn-secondary">Modifier</a>
                    <a asp-action="Supprimer" asp-route-username="@membre.Username" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

